/* Write your code here. */
h1 {
  color: #cb8805;
  text-align: center;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#f1f5f8;
  height: 100vh;
  background-size: cover;
  
}
.secondDiv {
  background-color: #ffffff;
  padding: 20px;
}
